<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Root handler</title>
	<style type="text/css">
		.lead {
			padding: 6px;
			width: 40%;
			margin: 0 auto;
			background-color: floralwhite;
			font-weight: 500;
			font-size: 20px;
		}
		body {
			font-family: Arial, Helvetica, sans-serif;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	</style>
</head>
<body>
	<div class="lead">
		<br />
		<h1>Welcome to lyricsProjection api handler</h1>
		<br />
		<h2>Routes:</h2>
		<ul>
			<li>state(app state)</li>
			<li>lyrics</li>
			<li>lyricsit(lyrics without content!)</li>
			<li>lyricsc(Categories)</li>
			<li>playlists</li>
		</ul>
	</div>
</body>
</html>
